OBSERVABILITY_BACKEND_IMAGE=convex-backend-observability:latest
PORT=3210
SITE_PROXY_PORT=3211
VICTORIAMETRICS_PORT=8428
GRAFANA_PORT=3000
DISABLE_METRICS_ENDPOINT=false
LOG_FORMAT=json
RUST_LOG=info
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
